<!-- Certificate Modals -->
<div class="modal fade" id="certModal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">AWS Solutions Architect - Associate</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>Amazon Web Services</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/AWS Certified Solutions Architect - Associate.webp" alt="AWS Certified Solutions Architect" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">AWS Certified Cloud Practitioner</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>Amazon Web Services</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/AWS Certified Cloud Practitioner certificate.webp" alt="AWS Certified Cloud Practitioner" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">HashiCorp Terraform Associate</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>HashiCorp</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/David Kibe Terraform Certificate.webp" alt="HashiCorp Terraform Associate" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certModal4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Introduction to Generative AI with AWS</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>Udacity</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/Introducing GenAI with AWS.webp" alt="Introducing Generative AI" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certModal5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">AI in the Digital Age</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>ALX</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/ALX AI Certificate.webp" alt="AI in the Digital Age" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certModal6" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Professional Skills</h5>
                    <p class="cert-modal-issuer"><i class="fas fa-award"></i>ALX</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="images/Professional foundations Certificate.webp" alt="Professional Skills" class="img-fluid">
            </div>
        </div>
    </div>
</div>