<div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header bg-light">
                <h5 id="cvModalTitle" class="modal-title fs-6 text-uppercase letter-spacing-1 text-secondary">
                    <i class="bi bi-person-vcard me-2" aria-hidden="true"></i> Curriculum Vitae
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="h-100 border-top border-bottom">
                    <iframe src="https://drive.google.com/file/d/1q0LuFEuTUNoYI570ZUCAobtzVFKnRKTn/preview" width="100%" height="100%" title="David Washington Kamau CV"></iframe>
                </div>
            </div>
            <div class="modal-footer bg-light justify-content-between">
                <span class="small text-muted">Last updated: November 2025</span>
                <div>
                    <a href="https://drive.google.com/file/d/1zneVesMG94wbLEnSmViRsbOlBskVQlDt/view?usp=sharing" class="btn btn-sm btn-dark" target="_blank" rel="noopener">
                        <i class="bi bi-download me-1" aria-hidden="true"></i> View in Google Drive
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>